/*Centrado del titulo de las tablas*/
th{
    text-align: center;
}
td-center{
    text-align: center;
}
.centrado{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.input-nota{
    padding: 0.2em;
    width: 4em;
}
.margen-abajo-card{
    margin-bottom: 10px;
}
.input-porcent{
    width: 25px;
}
.table-text-center th, .table-text-center td {
    text-align: center;
}

.card-mostrar{
    max-width: 16rem;
    min-width: 16rem;
    margin-top: 10px;
}
@media (max-width: 600px) {
    .card-mostrar{
        margin: 10px auto;
        max-width: unset;
    }
}